.shape-left-top-gs {
  position: absolute;
  top: -16px;
  left: -1px;
  transform: rotate(270deg);
}

.get-touch .get-left-touch p {
    margin-bottom: 20px !important;
    line-height: 28px !important;
}

.property-spec .back .h5 {
    text-transform: uppercase !important;
    font-weight: 500 !important;
    font-family: 'gobold' !important;
}

.property-spec .bottom-right a:hover {
    background-color: #00AAA6 !important;
}